#content {
    max-width: 1000px;
    margin: auto;
    left: 1%;
    right: 1%;
    position: absolute;
}

 .card-header{
  background-color: lightcoral;
}
input {
  max-width: 80%;
  border-radius: .2em;
  height: 2em;;
}
#pw {
  display: inline;
}
#toggle {
  margin-left: -5em;
  height: 2em;
  margin-bottom: 2px;
  border-radius: .2em;
  padding-top: .1em;
  padding-bottom: .1em;
}

