<div class="row">
<img src="assets/reploLarge.png" alt="Mountain View" style="width:250px;height:250px;">
<div id="content">

  <div class="container" id="con">
    <h1>UPCOMING ELECTIONS</h1>
    <div class="card">
      <div class="card-body">
        <div class="col">
          <h3>mock name</h3>

          <p>Election on: date in pipe
            <!--{{obj.date| date:'MMM d, y'}}-->
          </p>
          <p>Candidate: add here</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
