#content {
  max-width: 1000px;
  margin: auto;
  left: 1%;
  right: 1%;
  position: absolute;
}
#con{
  left: -15%
}
.heading{
  text-indent: 18rem;
}
.card {
  width: 90%;
  margin: 0 auto;
}
#content {
  width: 90%;
  margin: 0 auto;
}
.card-header{
  background-color: lightcoral;
}
.image {
  display: inline-block;
  width: 20%;
}
.buttons {}
