<div class="row">
  <img src="assets/reploLarge.png" alt="Mountain View" style="width:250px;height:250px;">
  <div id="content">

    <div class="container" id="con">
      <h1 class="heading">UPCOMING ELECTIONS</h1>

      <div *ngFor="let obj of data">
        <div class="card">
          <div class="card-body">
            <div class="col">
              <h3>{{ obj.position }}</h3>

              <p>Election on: {{obj.dateTime| date:'MMM d, y'}}</p>

                <div *ngFor="let hold of obj.polis">
                  <p>Candidate: {{ hold.firstName }} {{ hold.lastName }}</p>
                </div>


              <p>Location:{{ obj.city}}, {{ obj.state }}</p>
            </div>
          </div>

        </div>
        <br />
      </div>




    </div>
  </div>
</div>
