<div class="row">

  <!-- <img src="assets/reploLarge.png" alt="Mountain View" style="width:250px;height:250px;" class="float-left"> -->
  <div class="container" id="con">
    <img id="first" src="assets/democrat.png" alt="Mountain View" style="width:250px;height:250px;">
    <img src="assets/green.jpeg" alt="Mountain View" style="width:250px;height:250px;">
    <img src="assets/libertarian.png" alt="Mountain View" style="width:250px;height:250px;">
    <img id="fourth" src="assets/republican.jpg" alt="Mountain View" style="width:250px;height:250px;">
    <h1 class="heading">UPCOMING ELECTIONS</h1>
    <div *ngFor="let obj of data">
      <div class="card">
        <div class="card-header text-center">
          <h3>{{ obj.position }}</h3>
        </div>
        <div class="card-body text-center">
          <strong>Election on: {{obj.dateTime| date:'MMM d, y'}}</strong>
          <div *ngFor="let hold of obj.polis">
            <p>Candidate: {{ hold.firstName }} {{ hold.lastName }}</p>
          </div>
          <p>Location:{{ obj.city}}, {{ obj.state }}</p>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
