<div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <div class="row">
    <div class="col-md-8" id="content">
      <div class="card">
        <div class="card-header">
          Login Information
        </div>
        <div class="card-body">
          <div class="form-group text-left">
            <label for="signup_name">
              Username:
            </label>
            <input type="text" id="account_name" class="form-control" [(ngModel)]="account.username" />
          </div>
          <div class="form-group text-left">
            <label for="account_email">
              Password:
            </label>
            <input type="password" id="_password" class="form-control" [(ngModel)]="account.password" />

            <button onclick="if (_password.type == 'text') _password.type ='password';else _password.type = 'text';">Toggle</button>
          </div>
          <div *ngIf="passCheck != account.password" class="text-danger">*Passwords do not match</div>
          <div class="form-group text-left">
            <label for="account_email">
              Re-enter Password:
            </label>
            <input type="password" id="password" class="form-control" [(ngModel)]="passCheck" />
            <button onclick="if (password.type == 'text') password.type ='password';else password.type = 'text';">Toggle</button>
          </div>
          <div *ngIf="passCheck != account.password" class="text-danger">*Passwords do not match</div>
        </div>
      </div>

      <br />
      <div class="card">
        <div class="card-header">
          Account Information
        </div>
        <div class="card-body">
          <div class="form-group text-left">
            <label for="account_fname">
              First Name:
            </label>
            <input type="text" id="account_nfame" class="form-control" [(ngModel)]="account.firstName" />
          </div>
          <div class="form-group text-left">
            <label for="account_lname">
              Last Name:
            </label>
            <input type="text" id="account_lname" class="form-control" [(ngModel)]="account.lastName" />
          </div>
          <div class="form-group text-left">
            <label for="account_email">
              Email:
            </label>
            <input type="email" id="account_email" class="form-control" [(ngModel)]="account.email" />
          </div>
          <br />
          <div class="form-group">
            <label for="isPol">
              <input type="checkbox" id="isPol" [(ngModel)]="isPol" /> Politician
            </label>
          </div>
          <div class="form-group text-left" *ngIf="isPol">
            <label for="account_partyId">
              Party Affliation:
            </label>
            <select id="account_partyId" class="form-control" [(ngModel)]="account.partyId">
              <option></option>
              <option [value]="department.id" *ngFor="let department of departments">
                {{ department.name }}
              </option>
            </select>
            <label for="account_tenure">
              Tenure Information:
            </label>
            <select id="account_tenure" class="form-control" [(ngModel)]="tenNumber">
              <option></option>
              <option [value]="ten.id" *ngFor="let ten of tenure">
                {{ ten.name }}
              </option>
            </select>
            <div class="form-group text-left">
              <div class="form-group text-left">
                <label for="website">
                  Website Link:
                </label>
                <input type="website" id="account_website" class="form-control" [(ngModel)]="account.website" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <ul class="list-group">
        <li class="list-group-item text-left" id="header">
          Phone Numbers:
        </li>
        <li class="list-group-item" *ngFor="let phone of phoneNumbers; let i = index">
          {{ phone.number }}
          <button class="btn btn-danger float-right" type="button" (click)="deleteFieldValue(i)">Delete</button>
          <button class="btn btn-primary float-right">
            {{ phone.type }}
          </button>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-btn">
              <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  {{ newPhone.type || 'SELECT' }}
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let type of ['Home', 'Mobile']" class="dropdown-item" (click)="newPhone.type = type">
                    <a href="javascript:void(0);">
                      {{ type }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Add phone..." [(ngModel)]="newPhone.number">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" (click)="addPhone()">
                Add
              </button>
            </span>
          </div>
        </li>
      </ul>
      <br />
      <button class="btn btn-lg btn-success btn-block" type="button" [disabled]='!account.firstName || !account.email' (click)="saveProfile()">
        Save
      </button>
      <a [routerLink]="['/login']" class="btn btn-danger btn-block bg-gray">Cancel</a>
      <div class="col-md-4">
        <pre>{{account|json}}</pre>
      </div>
      <div class="col-md-4">
        <pre>{{accounts|json}}</pre>
      </div>
      <div class="col-md-4">
        <pre>{{phoneNumbers|json}}</pre>
      </div>
      <div class="col-md-4">
        <pre>{{newPhone|json}}</pre>
      </div>
      <div class="col-md-4">
        <pre>{{tenNumber|json}}</pre>
      </div>
    </div>
  </div>
</div>
<br />