
<!-- <div class="container" id="content"> -->
<h1 class="text-center">Profile</h1>
<div class="card" id="profile-card">
  <div class="card-header">
    <h3 class="text-center">{{account.firstName}} {{account.lastName}}</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <img class="pull-left col-sm" [src]='imageName' alt="Mountain View">

      <ul class="d-inline col-sm list-group">
        <li class="list-group-item">{{account.partyId}}</li>
        <li class="list-group-item">{{account.phone}}</li>
        <li class="list-group-item">{{account.email}}</li>
        <li class="list-group-item">{{account.website}}</li>
        <li class="list-group-item">{{account.tenure}}</li>

      </ul>
    </div>
    <br />
    <div class="row">
      <span class="col-md-3"></span>
      <button class="btn btn-success col-md-2 d-inline">Edit Profile</button>
      <span class="col-md-2"></span>
      <button class="btn btn-secondary col-md-2 d-inline">View Map</button>
      <span class="col-md-3"></span>
    </div>
    <pre>{{account|json}}</pre>
  </div>
</div>
