<!-- <div class="container" id="content"> -->
<h1 class="text-center">Profile</h1>
<div class="card" id="profile-card">
  <div class="card-header">
    <h3 class="text-center">{{name}}</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <img class="pull-left col-sm" src="assets/textImg.jpg" alt="Mountain View">

      <ul class="d-inline col-sm list-group">
        <li class="list-group-item">Party</li>
        <li class="list-group-item">Phone Nums</li>
        <li class="list-group-item">District</li>
        <li class="list-group-item">...</li>
        <li class="list-group-item">...</li>

      </ul>
    </div>
    <br />
    <div class="row">
      <span class="col-md-3"></span>
      <button class="btn btn-success col-md-2 d-inline">Edit Profile</button>
      <span class="col-md-2"></span>
      <button class="btn btn-secondary col-md-2 d-inline">View Map</button>
      <span class="col-md-3"></span>
    </div>

  </div>
  <!-- </div> -->
