<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav-bar">
  <a class="navbar-brand" href="#">RepLocate<sup>&trade;</sup></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink=" ">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="!sharedService.account.firstName" class="nav-item">
        <a class="nav-link" routerLink="/signup">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/upelection">Elections</a>
      </li>
      <li *ngIf="sharedService.account.firstName" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Profiles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/profile">User Profile</a>
            <!-- <a class="dropdown-item" (click)= "updateL()">Update Login</a> -->
            <a class="dropdown-item" routerLink="/pol_profiles">Politician Profiles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      <li *ngIf="sharedService.account.firstName" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Update
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/update_login">Update Login</a>
          <!-- <a class="dropdown-item" (click)= "updateL()">Update Login</a> -->
          <a class="dropdown-item" routerLink="/update_profile">Update Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #sb>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"(click)="zipSearch(sb.value)">Search</button>
    </form>
  </div>
</nav>
