/* You can add global styles to this file, and also import other style files */
#app-body {
  background-color: #357ec7;
}

.card-header{
  background-color: lightcoral;
}

.card-body{
  background-color: whitesmoke;
  border: none;
}
.card{
  box-shadow: .2em .1em 2em;
}
img {
  max-width: 85%;
}
