<div class="container" id = "content">
  <div class="row">
    <h1 class = "col-md-10">Replocate<sup>&trade;</sup></h1>
    <div class="form-group col-md-1">
        <a [routerLink]="['/login']" class="btn btn-link">Login</a>
    </div>
    <div class="form-group col-md-1">
        <a [routerLink]="['/signup']" class="btn btn-link">Sign Up</a>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-12">
      <img class="center" src="../../assets/replocate-app-icon-medium@2x.png" alt="placeholder" id="image1">
      <br>
      <h3>Elections Coming Up...</h3>
      <table>
        <thead>
          <tr>
            <td>Position</td>
            <td>State</td>
            <td>County</td>
            <td>Date</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>President</td>
            <td>United</td>
            <td>All</td>
            <td>November 4, 2020</td>
          </tr>
          <tr>
            <td>County Rep</td>
            <td>Texas</td>
            <td>Dallas</td>
            <td>July 12, 2018</td>
          </tr>
          <tr>
            <td>College Security Club Treasurer</td>
            <td>Alaska</td>
            <td>Igloo 1</td>
            <td>Feburary 30, 20XX</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <img class="center" src="../../assets/AMFLAG.gif" id="gif">
    </div>
  </div>

</div>
