h1{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

a{
  color: #663366;
}

#image1 {
  max-width: 100% !important;
  object-fit: cover;
  float: right;
}

#content {
    max-width: 1000px;
    margin: auto;
    left: 1%;
    right: 1%;
    position: absolute;
}

.card{
  background-color: whitesmoke;
}
