<div class="container" id = "content">
    <div class="card">
      <img class="center" src="../../assets/replocate-app-icon-medium@2x.png" alt="placeholder" id="image1">
      <br>
      <h3>Elections Coming Up...</h3>
      <h4>
      <table class="table-striped">
        <thead>
          <tr>
            <td>Position</td>
            <td>City</td>
            <td>State</td>
            <td>Date</td>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let obj of checkTest">
            <td>{{ obj.position }}</td>
            <td>{{ obj.city }}</td>
            <td>{{ obj.state }}</td>
            <td>{{ obj.dateTime | date:'MMM d, y'}}</td>

          </tr>

        </tbody>
      </table>
    </h4>
    </div>
  <!-- <div class="container" id="gifContainer">
      <img class="center" src="../../assets/AMFLAG.gif" id="gif">
  </div> -->

</div>
